.loginLinks
{
    text-decoration: none;
    font-size: 14px;
}

.noUnderLine {
    text-decoration: none;
}

.adminFontSize
{
    font-size: 15px; 
}

.textShadow {
    text-shadow: 2px 4px 5px mediumpurple;
}

.boxShadow {
    box-shadow: 5px 5px 5px mediumpurple;
    border-radius: 20px;
}

.categoriesFontSize
{
    font-size: 25px;
}

.borderCurve 
{
    border-radius: 20px;
}

.customBox {
    background: white;
    border: 1px solid #ffa853;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #ffa853;
    color: #666;
    outline: none;
    height: 23px;
    width: 275px;
}