@model IdentitySample.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="content_inner">
                    <div class="row">
                        <div class="span9">
                            <h2>Forgot Password</h2><br />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div id="note"></div>
                            <div id="">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <div class="span3">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">Email:</label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="button1" value="Email Link" style="width: 140px; height: 50px" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>