@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{
    if (HttpContext.Current.Request.Url.AbsolutePath == "/Account/Login")
    {
        <li class="active">@Html.ActionLink("LOGIN", "Login", "Account")</li>
    }
    else
    {
        <li>@Html.ActionLink("LOGIN", "Login", "Account")</li>
    }
}
else
{
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
        {

            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

        }
    </li>
}