@{
    ViewBag.Title = "About Us";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="content_inner">
                    <div class="row">
                        <div class="span9">
                            <div class="vl1">
                                <div class="pad_right20">

                                    <h1>@ViewBag.Title</h1>

                                    <h3>We’re a local Kansas City, Missouri florist proudly serving the area for over 26 years with a lovely variety of fresh flowers and creative gift ideas to suit any style or budget. We hope you enjoy your online shopping experience with secure 24-hour ordering right at your fingertips.</h3>

                                    <div class="thumb1">
                                        <div class="thumbnail clearfix">
                                            <figure><img src="~/Content/images/about01.jpg" alt=""></figure>
                                            <div class="caption">
                                                <p>
                                                    <strong>
                                                        Large selection of flowers and unique gifts.
                                                    </strong>
                                                </p>
                                                <p>
                                                    If preferred, you may call us to place orders direct at (800) 123-1234. It is our pleasure to assist you with any local, as well as worldwide deliveries and remember that corporate accounts are always welcome. For your convenience, we offer daily floral delivery to local funeral homes and hospitals. Blue Vue Flowers is open to serve your floral & gift needs!
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="line1"></div>

                                </div>

                                <div class="row">
                                    <div class="span6">

                                        <h2>Company Profile</h2>

                                        <h3>You can always depend on us to help you with ordering flowers after a friend or loved one passes. We will design and deliver flowers that beautifully convey your expressions of sympathy and serve as a lovely tribute to the deceased.</h3>

                                        <p>
                                            Our beautiful selection of high-quality flowers and eye-catching design styles are sure to bring rave reviews on your wedding day or at any festive occasion. Call our shop in advance at 1-800-123-1234 to schedule your consultation.
                                        </p>


                                    </div>
                                    <div class="span3">
                                        <div class="pad_right20">

                                            <h2>Services<br><span>What We Offer</span></h2>

                                            <ul class="ul1">
                                                <li><a href="#">Arrangements for weddings and proms</a></li>
                                                <li><a href="#">Sympathy and funeral arrangements</a></li>
                                                <li><a href="#">Hand-tied bouquets</a></li>
                                                <li><a href="#">Holiday events</a></li>
                                                <li><a href="#">Corporate events</a></li>
                                                <li><a href="#">Gifts & Collectibles</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span3">

                            <h2>News</h2>

                            <div class="date1">24 of December, 2020</div>

                            <p>
                                <a href="#" class="link1"><strong>Lorem ipsum dolor sit amet consectetuer adipi.</strong></a>
                            </p>
                            <p>
                                Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturientdiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                            </p>

                            <div class="line1"></div>

                            <div class="date1">15 of October, 2020</div>

                            <p>
                                <a href="#" class="link1"><strong>Fusce suscipit varius mi. Cum sociis natoque penatibus</strong></a>
                            </p>
                            <p>
                                Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturientdiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                            </p>

                            <div class="line1"></div>

                            <div class="date1">12 of January, 2019</div>

                            <p>
                                <a href="#" class="link1"><strong>Ipsum dolor sit</strong></a>
                            </p>
                            <p>
                                Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit vaulus mus. Nulla dui. Fusce feugiat malesuada odio.
                            </p>

                            <div class="line2"></div>

                            <div class="text-right"><a href="#" class="button2">more news</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12">

                            <h2 class="cust1">Our Staff</h2>

                            <div class="row">
                                <div class="span3">
                                    <div class="thumb2">
                                        <div class="thumbnail clearfix">
                                            <figure><img src="~/Content/images/staff01.jpg" alt=""></figure>
                                            <div class="caption">
                                                <div class="txt1">Jessica Parker</div>
                                                <div class="txt2">Owner - Lead Florist</div>
                                                <!-- Button to trigger modal -->
                                                <a href="#myModalJessica" role="button" class="button3" data-toggle="modal">Read More</a>

                                                <!-- Modal -->
                                                <div id="myModalJessica" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-header"  style="background-color: #725583;">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h3 id="myModalLabel" style="font-size: 25px;">Jessica Parker</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p style="font-size: 18px;">
                                                            Owner - Lead Florist<br />Jessica BIO
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                                        @*<button class="btn btn-primary">Save changes</button>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="thumb2">
                                        <div class="thumbnail clearfix">
                                            <figure><img src="~/Content/images/staff02.jpg" alt=""></figure>
                                            <div class="caption">
                                                <div class="txt1">Amanda Williams</div>
                                                <div class="txt2">Florist</div>
                                                <!-- Button to trigger modal -->
                                                <a href="#myModalAmanda" role="button" class="button3" data-toggle="modal">Read More</a>

                                                <!-- Modal -->
                                                <div id="myModalAmanda" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-header" style="background-color: #725583;">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h3 id="myModalLabel" style="font-size: 25px;">Amanda Williams</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p style="font-size: 18px;">
                                                            Florist<br />Amanda BIO
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                                        @*<button class="btn btn-primary">Save changes</button>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="thumb2">
                                        <div class="thumbnail clearfix">
                                            <figure><img src="~/Content/images/staff03.jpg" alt=""></figure>
                                            <div class="caption">
                                                <div class="txt1">Mark Johnson</div>
                                                <div class="txt2">Gifts & Collectibles</div>
                                                <!-- Button to trigger modal -->
                                                <a href="#myModalMark" role="button" class="button3" data-toggle="modal">Read More</a>

                                                <!-- Modal -->
                                                <div id="myModalMark" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-header" style="background-color: #725583;">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h3 id="myModalLabel" style="font-size: 25px;">Mark Johnson</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p style="font-size: 18px;">
                                                            Gifts & Collectibles<br />Mark BIO
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                                        @*<button class="btn btn-primary">Save changes</button>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="thumb2">
                                        <div class="thumbnail clearfix">
                                            <figure><img src="~/Content/images/staff04.jpg" alt=""></figure>
                                            <div class="caption">
                                                <div class="txt1">Marek Kosinsky</div>
                                                <div class="txt2">Manager - Shipping</div>
                                                <!-- Button to trigger modal -->
                                                <a href="#myModalMarek" role="button" class="button3" data-toggle="modal">Read More</a>

                                                <!-- Modal -->
                                                <div id="myModalMarek" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-header" style="background-color: #725583;">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h3 id="myModalLabel" style="font-size: 25px;">Marek Kosinsky</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p style="font-size: 18px;">
                                                            Manager - Shipping<br />Marek BIO
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                                        @*<button class="btn btn-primary">Save changes</button>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>