
@{
    ViewBag.Title = "Check Out";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="content_inner">
                    <div class="row">
                        <div class="span9">
                            <h2>@ViewBag.Title</h2>

                            <div class="row">
                                <div class="span3">
                                    <div id="note"></div>
                                    <div id="fields">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-lg-6 form-group">
                                                    <label class="text-small text-uppercase" for="firstName">First name</label>
                                                    <input class="form-control form-control-lg" id="firstName" type="text">
                                                </div>
                                                <div class="col-lg-6 form-group">
                                                    <label class="text-small text-uppercase" for="lastName">Last name</label>
                                                    <input class="form-control form-control-lg" id="lastName" type="text">
                                                </div>
                                                <div class="col-lg-6 form-group">
                                                    <label class="text-small text-uppercase" for="email">Email address</label>
                                                    <input class="form-control form-control-lg" id="email" type="email">
                                                </div>
                                                <div class="col-lg-6 form-group">
                                                    <label class="text-small text-uppercase" for="phone">Phone number</label>
                                                    <input class="form-control form-control-lg" id="phone" type="tel">
                                                </div>


                                                <div class="col-lg-12 form-group">
                                                    <label class="text-small text-uppercase" for="address">Address line 1</label>
                                                    <input class="form-control form-control-lg" id="address" type="text">
                                                </div>
                                                <div class="col-lg-12 form-group">
                                                    <label class="text-small text-uppercase" for="address">Address line 2</label>
                                                    <input class="form-control form-control-lg" id="addressalt" type="text">
                                                </div>
                                                <div class="col-lg-6 form-group">
                                                    <label class="text-small text-uppercase" for="city">City</label>
                                                    <input class="form-control form-control-lg" id="city" type="text">
                                                </div>
                                                <div class="col-lg-6 form-group">
                                                    <label class="text-small text-uppercase" for="state">State</label>
                                                    <input class="form-control form-control-lg" id="state" type="text">
                                                </div>


                                                <div class="col-lg-12 form-group">
                                                    <button class="button1" type="submit">Place order</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
