@model IEnumerable<StoreFront.DATA.EF.Product>

@{
    ViewBag.Title = "Home";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="content_inner">

                    <div class="slogan1">
                        <div class="txt1 textShadow">Custom Floral Arrangements and wonderful gifts</div>
                        <div class="txt2">Floral Gifts & Collectibles is a family ran business. We offer custom flower
                        arrangements for any occasion and unique gifts as well.  Our flower arrangements are custom 
                        created for each order.  We ship with in the USA only, Flowers are shipped USPS overnight and gifts 
                        are shipped USPS Priority 3 Day.  We do partner with florist around the country and can do same day delivery as well on all flowers.</div>
                        <a href="@Url.Action("Products", "Home")" class="button1">View Our Products</a>
                    </div>


                    <center>
                        <div class="banners">
                            <div class="row">
                                @{int count = 1; }
                                @foreach (var item in Model)
                                {

                                <div class="span4 banner banner@{@count}">
                                    <div class="banner_inner">
                                        <a href="@Url.Action("ProductDetail", "Home", new { id = item.ProductID })">
                                            <img src="@item.Image.Image1" alt="" style="height: 270px; width: 270px;" class="borderCurve boxShadow">
                                            <div class="caption borderCurve boxShadow" style="height: 100px; width: 270px;">
                                                <div class="txt1">Featured Product</div>
                                                <div class="txt2">@Html.DisplayFor(modelItem => item.Title)</div>
                                            </div>
                                        </a>
                                    </div>
                                    
                                </div>

                                    count++;
                                }

                                @*<div class="span4 banner banner2">
                                        <div class="banner_inner">
                                            <a href="#">
                                                <img src="~/Content/images/banner2.jpg" alt="" class="img">
                                                <div class="caption">
                                                    <div class="txt1">Featured Product</div>
                                                    <div class="txt2">Title</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="span4 banner banner3">
                                        <div class="banner_inner">
                                            <a href="#">
                                                <img src="~/Content/images/banner3.jpg" alt="" class="img">
                                                <div class="caption">
                                                    <div class="txt1">Featured Product</div>
                                                    <div class="txt2">Title</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </center>

                    <div class="row">
                        <div class="span8">
                            <div class="pad_right20 vl1">

                                <h2 class="textShadow">Exclusive Bouquets<br><span>Fresh Bouquets Created Custom For Each Order</span></h2>

                                <p>
                                    Our exclusive fresh bouquets are created custom for each order by our skilled florist's.
                                    Our bouquets are craftly created with fresh flowers delivered daily, all flowers are shipped USPS over night.  We do partner with florist around the country and can also do same day delivery as well.  Our skilled florist's can do flower arrangements for any occasion, Weddings, Holidays, Birthday's, Funerals etc...
                                </p>

                                <!-- Button to trigger modal -->
                                <a href="#myModalEboug" role="button" class="button1" data-toggle="modal">Read More</a>

                                <!-- Modal -->
                                <div id="myModalEboug" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-header" style="background-color: #725583;">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 id="myModalLabel" style="font-size: 25px;">Exclusive Bouquets</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p style="font-size: 18px;">
                                            Our exclusive bouquets are hand crafted by our florist's.  Each bouquet is created with fresh flowers and customized to your needs.  If you need a unique bouquet for that special day, contact us and we will work with you to supply what you need.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                        @*<button class="btn btn-primary">Save changes</button>*@
                                    </div>
                                </div>




                            </div>
                        </div>
                        <div class="span4">

                            <h2 class="textShadow">Services<br><span>What We Offer</span></h2>

                            <ul class="ul1">
                                <li><a href="#">Unique Gifts</a></li>
                                <li><a href="#">Fresh Cut Bouquets</a></li>
                                <li><a href="#">Fresh Cut Flower Arrangement's</a></li>
                                <li><a href="#">Custom Created Arrangments</a></li>
                                <li><a href="#">Weddings</a></li>
                                <li><a href="#">Funerals</a></li>
                            </ul>








                        </div>
                    </div>







                </div>
            </div>
        </div>
    </div>
</div>