@model IEnumerable<StoreFront.DATA.EF.Product>

@{
    ViewBag.Title = "Home";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="content_inner">

                    <div class="slogan1">
                        <div class="txt1 textShadow">Custom Floral Arrangements and wonderful gifts</div>
                        <div class="txt2">Floral Gifts & Collectibles is a family ran business. We offer custom flower
                        arrangements for any occasion and unique gifts as well.  Our flower arrangements are custom 
                        created for each order.  We ship with in the USA only, Flowers are shipped USPS overnight and gifts 
                        are shipped USPS Priority 3 Day.  We do partner with florist around the country and can do same day delivery as well on all flowers.</div>
                        <a href="@Url.Action("Products", "Home")" class="button1">View Our Products</a>
                    </div>


                    <center>
                        <div class="banners">
                            <div class="row">
                                @{int count = 1; }
                                @foreach (var item in Model)
                                {
                                    <div class="span4 banner banner@{@count}">
                                        <div class="banner_inner">
                                            <a href="@Url.Action("ProductDetail", "Home", new { id = item.ProductID })">
                                                <img src="@item.Image.Image1" alt="" style="height: 270px; width: 270px;" class="borderCurve boxShadow">
                                                <div class="caption borderCurve boxShadow" style="height: 100px; width: 270px;">
                                                    <div class="txt1">Featured Product</div>
                                                    <div class="txt2">@Html.DisplayFor(modelItem => item.Title)</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    count++;
                                }

                                @*<div class="span4 banner banner2">
                                        <div class="banner_inner">
                                            <a href="#">
                                                <img src="~/Content/images/banner2.jpg" alt="" class="img">
                                                <div class="caption">
                                                    <div class="txt1">Featured Product</div>
                                                    <div class="txt2">Title</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="span4 banner banner3">
                                        <div class="banner_inner">
                                            <a href="#">
                                                <img src="~/Content/images/banner3.jpg" alt="" class="img">
                                                <div class="caption">
                                                    <div class="txt1">Featured Product</div>
                                                    <div class="txt2">Title</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </center>

                    <div class="row">
                        <div class="span8">
                            <div class="pad_right20 vl1">

                                <h2 class="textShadow">Exclusive Bouquets<br><span>Fresh Bouquets Created Custom For Each Order</span></h2>

                                <p>
                                    Our exclusive fresh bouquets are created custom for each order by our skilled florist's.
                                    Our bouquets are craftly created with fresh flowers delivered daily, all flowers are shipped USPS over night.  We do partner with florist around the country and can also do same day delivery as well.  Our skilled florist's can do flower arrangements for any occasion, Weddings, Holidays, Birthday's, Funerals etc...
                                </p>

                                <a href="#" class="button1">read more</a>




                            </div>
                        </div>
                        <div class="span4">

                            <h2 class="textShadow">Services<br><span>What We Offer</span></h2>

                            <ul class="ul1">
                                <li><a href="#">Unique Gifts</a></li>
                                <li><a href="#">Fresh Cut Bouquets</a></li>
                                <li><a href="#">Fresh Cut Flower Arrangement's</a></li>
                                <li><a href="#">Custom Created Arrangments</a></li>
                                <li><a href="#">Weddings</a></li>
                                <li><a href="#">Funerals</a></li>
                            </ul>








                        </div>
                    </div>







                </div>
            </div>
        </div>
    </div>
</div>