
@{
    ViewBag.Title = "Gifts Collectibles & Services";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="content_inner">
                    <div class="row">
                        <div class="span9">
                            <h1>@ViewBag.Title</h1>
                            <div class="row">
                                <div class="span3">
                                    <div class="thumb3">
                                        <div class="thumbnail clearfix">
                                            <figure><img src="~/Content/images/Collectibles/Vases/sunfire-glass-vase-40.jpg" alt="Vases" title="Vases"></figure>
                                            <div class="caption">
                                                <h3>Vases in all shapes and sizes and colors</h3>
                                                <p>
                                                    Vases make a great accent for any room.  Color cordinate your vases with you flower slection for best results.  We can also cordinate the the vase color with the flowers you have selected as well.
                                                </p>
                                                <div class="line2"></div>
                                                <div class="text-right">
                                                    <!-- Button to trigger modal -->
                                                    <a href="#myModalService1" role="button" class="button3" data-toggle="modal">Read More</a>

                                                    <!-- Modal -->
                                                    <div id="myModalService1" class="modal hide fade text-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-header" style="background-color: #725583;">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            <h3 id="myModalLabel" style="font-size: 25px;">Best Service</h3>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p style="font-size: 18px;">
                                                                Read More Information
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                                            @*<button class="btn btn-primary">Save changes</button>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="thumb3">
                                            <div class="thumbnail clearfix">
                                                <figure><img src="~/Content/images/Collectibles/Statues/patriotic-eagle-statue-sculpture-63.jpg" style="height: 318px;" alt="Statues" title="Statues"></figure>
                                                <div class="caption">
                                                    <h3>Collectible statues for display</h3>
                                                    <p>
                                                        Collectible statues make great center pieces for any room.  They display well in display cases, on your desk or table.  We carry different stypes of statues.
                                                    </p>
                                                    <div class="line2"></div>
                                                    <div class="text-right">
                                                        <!-- Button to trigger modal -->
                                                        <a href="#myModalService2" role="button" class="button3" data-toggle="modal">Read More</a>

                                                        <!-- Modal -->
                                                        <div id="myModalService2" class="modal hide fade text-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-header" style="background-color: #725583;">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                <h3 id="myModalLabel" style="font-size: 25px;">Best Service</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p style="font-size: 18px;">
                                                                    Read More Information
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                                                @*<button class="btn btn-primary">Save changes</button>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="thumb3">
                                            <div class="thumbnail clearfix">
                                                <figure><img src="~/Content/images/Gifts/Flowers/0f312666-8ba8-4995-9c6f-33719cb7a157.jpg"  style="height: 318px;" alt="Flowers" title="Flowers"></figure>
                                                <div class="caption">
                                                    <h3>Beautiful flowers for any occasion</h3>
                                                    <p>
                                                        Flowers brighten up any room, our custom arrangement are sure to please.  Flower make a special gift or purchase some for your self to brighten up your rooms.
                                                    </p>
                                                    <div class="line2"></div>
                                                    <div class="text-right">
                                                        <!-- Button to trigger modal -->
                                                        <a href="#myModalService3" role="button" class="button3" data-toggle="modal">Read More</a>

                                                        <!-- Modal -->
                                                        <div id="myModalService3" class="modal hide fade text-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-header" style="background-color: #725583;">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                <h3 id="myModalLabel" style="font-size: 25px;">Best Service</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p style="font-size: 18px;">
                                                                    Read More Information
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                                                @*<button class="btn btn-primary">Save changes</button>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <h2>Our Services</h2>
                                <ul class="ul1">
                                    <li><a href="#">Custom Gift Selection</a></li>
                                    <li><a href="#">Custom Flower Arrangements</a></li>
                                    <li><a href="#">Weddings</a></li>
                                    <li><a href="#">Events</a></li>
                                    <li><a href="#">Funerals</a></li>
                                    <li><a href="#">Birthdays</a></li>
                                    <li><a href="#">Valentines Day</a></li>
                                    <li><a href="#">Special Events</a></li>
                                    <li><a href="#">Special Gifts</a></li>
                                    <li><a href="#">Garden Arragements</a></li>
                                    <li><a href="#">Gatherings</a></li>
                                    <li><a href="#">Holidays</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <h2>Services Overview </h2>
                                <div class="row">
                                    <div class="span4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure><img src="~/Content/images/services04.jpg" alt=""></figure>
                                                <div class="caption">
                                                    <h3>Lorem ipsum dolor sit amet conse ctetur</h3>
                                                    <p>
                                                        Aenean nonummy Phasellus porta. Fusce suscipit varius mi.
                                                    </p>
                                                    <div class="line2"></div>
                                                    <div class="text-right">
                                                        <!-- Button to trigger modal -->
                                                        <a href="#myModalServiceO1" role="button" class="button3" data-toggle="modal">Read More</a>

                                                        <!-- Modal -->
                                                        <div id="myModalServiceO1" class="modal hide fade text-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-header" style="background-color: #725583;">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                <h3 id="myModalLabel" style="font-size: 25px;">Service Overview</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p style="font-size: 18px;">
                                                                    Read More Information
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                                                @*<button class="btn btn-primary">Save changes</button>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure><img src="~/Content/images/services05.jpg" alt=""></figure>
                                                <div class="caption">
                                                    <h3>Lorem ipsum dolor sit amet conse ctetur</h3>
                                                    <p>
                                                        Aenean nonummy Phasellus porta. Fusce suscipit varius mi.
                                                    </p>
                                                    <div class="line2"></div>
                                                    <div class="text-right">
                                                        <!-- Button to trigger modal -->
                                                        <a href="#myModalServiceO2" role="button" class="button3" data-toggle="modal">Read More</a>

                                                        <!-- Modal -->
                                                        <div id="myModalServiceO2" class="modal hide fade text-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-header" style="background-color: #725583;">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                <h3 id="myModalLabel" style="font-size: 25px;">Service Overview</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p style="font-size: 18px;">
                                                                    Read More Information
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                                                @*<button class="btn btn-primary">Save changes</button>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure><img src="~/Content/images/services06.jpg" alt=""></figure>
                                                <div class="caption">
                                                    <h3>Lorem ipsum dolor sit amet conse ctetur</h3>
                                                    <p>
                                                        Aenean nonummy Phasellus porta. Fusce suscipit varius mi.
                                                    </p>
                                                    <div class="line2"></div>
                                                    <div class="text-right">
                                                        <!-- Button to trigger modal -->
                                                        <a href="#myModalServiceO3" role="button" class="button3" data-toggle="modal">Read More</a>

                                                        <!-- Modal -->
                                                        <div id="myModalServiceO3" class="modal hide fade text-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-header" style="background-color: #725583;">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                <h3 id="myModalLabel" style="font-size: 25px;">Service Overview</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p style="font-size: 18px;">
                                                                    Read More Information
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                                                @*<button class="btn btn-primary">Save changes</button>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure><img src="~/Content/images/services07.jpg" alt=""></figure>
                                                <div class="caption">
                                                    <h3>Lorem ipsum dolor sit amet conse ctetur</h3>
                                                    <p>
                                                        Aenean nonummy Phasellus porta. Fusce suscipit varius mi.
                                                    </p>
                                                    <div class="line2"></div>
                                                    <div class="text-right">
                                                        <!-- Button to trigger modal -->
                                                        <a href="#myModalServiceO4" role="button" class="button3" data-toggle="modal">Read More</a>

                                                        <!-- Modal -->
                                                        <div id="myModalServiceO4" class="modal hide fade text-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-header" style="background-color: #725583;">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                <h3 id="myModalLabel" style="font-size: 25px;">Service Overview</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p style="font-size: 18px;">
                                                                    Read More Information
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                                                @*<button class="btn btn-primary">Save changes</button>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure><img src="~/Content/images/services08.jpg" alt=""></figure>
                                                <div class="caption">
                                                    <h3>Lorem ipsum dolor sit amet conse ctetur</h3>
                                                    <p>
                                                        Aenean nonummy Phasellus porta. Fusce suscipit varius mi.
                                                    </p>
                                                    <div class="line2"></div>
                                                    <div class="text-right">
                                                        <!-- Button to trigger modal -->
                                                        <a href="#myModalServiceO5" role="button" class="button3" data-toggle="modal">Read More</a>

                                                        <!-- Modal -->
                                                        <div id="myModalServiceO5" class="modal hide fade text-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-header" style="background-color: #725583;">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                <h3 id="myModalLabel" style="font-size: 25px;">Service Overview</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p style="font-size: 18px;">
                                                                    Read More Information
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                                                @*<button class="btn btn-primary">Save changes</button>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure><img src="~/Content/images/services09.jpg" alt=""></figure>
                                                <div class="caption">
                                                    <h3>Lorem ipsum dolor sit amet conse ctetur</h3>
                                                    <p>
                                                        Aenean nonummy Phasellus porta. Fusce suscipit varius mi.
                                                    </p>
                                                    <div class="line2"></div>
                                                    <div class="text-right">
                                                        <!-- Button to trigger modal -->
                                                        <a href="#myModalServiceO6" role="button" class="button3" data-toggle="modal">Read More</a>

                                                        <!-- Modal -->
                                                        <div id="myModalServiceO6" class="modal hide fade text-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-header" style="background-color: #725583;">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                <h3 id="myModalLabel" style="font-size: 25px;">Service Overview</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p style="font-size: 18px;">
                                                                    Read More Information
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                                                @*<button class="btn btn-primary">Save changes</button>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
